<!-- Header section -->
<header>
  <h1>
    <img src="https://www.wildcodeschool.com/assets/logo_main-e4f3f744c8e717f1b7df3858dce55a86c63d4766d5d9a7f454250145f097c2fe.png" alt="Wild Code School logo" />
    Les Argonautes
  </h1>
</header>

<!-- Main section -->
<main>
  
  <!-- New member form -->
  <div class="form-container">
    <h2>Ajouter un(e) Argonaute</h2>
    <form class="new-member-form" (ngSubmit)="onSubmit(memberForm)" #memberForm='ngForm'>
      <label for="name">Nom de l&apos;Argonaute</label>
      <input id="name" name="name" type="text" placeholder="Charalampos" autocomplete="off" ngModel required/>
      <input type="submit" value="Envoyer">
    </form>
  </div>
  
  <!-- Member list -->
  <div class="member-list-container">
    <h2>Membres de l'équipage</h2>
    <section class="member-list">
      <div class="member-item" *ngFor='let member of pickedMembers' (click)="deleteItem($any($event.target).innerHTML)">{{member.name}}</div>          
    </section>
  </div>
</main>

<!-- Footer section -->
<footer>
  <p>Réalisé par Rémy en Anthestérion de l'an 515 avant JC</p>
</footer>